$blue-color: #282b5c;
$grey-color: rgb(58, 58, 58);
$black-color: black;
$black-color--opacity: rgba(0, 0, 0, 0.4);
$red-color: rgb(226, 19, 19);
$beige-color: beige;

* {
  margin: 0;
}
main {
  height: 100vh;
  margin: 0;
}

section {
  background-color: $blue-color;
  height: 100vh;
}

.parallax--hero {
  transform-style: preserve-3d;
  position: relative;
  background: url("./assets/background.png");
  background-size: cover;
  background-attachment: fixed;
  perspective: 2px;
  overflow: hidden;
}

.hero__layer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#mountain {
  background: url("./assets/background-1.png");
  z-index: 3;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

#flowers {
  background: url("./assets/background-2.png");
  z-index: 4;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

#text {
  display: flex;
  justify-content: center;

  h1 {
    font-size: 5vw;
    text-transform: uppercase;
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    letter-spacing: 0.3rem;
    font-style: italic;
    color: $red-color;
    margin-top: 25vh;
  }
}

.parallax__container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 8px;

  .image,
  .text {
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    background-position: center center;
    transform: translateZ(-1px) scale(1.2);
    background-size: cover;
    z-index: -1;
    height: 100vh;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: $grey-color;
      opacity: 0.4;
    }

    &:nth-of-type(1)::after {
      background: $blue-color;
      background: linear-gradient(
        180deg,
        rgba(40, 43, 92, 1) 10%,
        rgba(58, 58, 58, 0.4) 30%,
        rgba(58, 58, 58, 0.4) 100%
      );
      opacity: 1;
    }
  }

  .text {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 1.5rem 1rem;
    color: black;
    background-color: #efe2d1;
    font-family: "Cormorant Infant", serif;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 0px 30px 20px $black-color--opacity;
    -moz-box-shadow: 0px 0px 30px 20px $black-color--opacity;
    box-shadow: 0px 0px 30px 20px $black-color--opacity;

    p {
      width: 90%;
      text-align: justify;
    }

    a {
      color: $grey-color;
      text-transform: uppercase;
      padding-top: 10px;
    }
  }
}

.heading {
  color: white;
  z-index: 0;
  margin: -60vh auto 50vh auto;
  transform: translateY(10vh) translateZ(1px) scale(1.2);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 1px 4px $black-color;
}

footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    color: $beige-color;
  }
}

@media screen and (max-width: 1023px) {
  #mountain,
  #flowers {
    background-position: unset;
  }

  #text {
    h1 {
      margin-top: 40vh;
      max-width: 120px;
    }
  }

  .heading {
    transform: translateY(10vh) translateZ(1px) scale(1.1);
  }
}

@media screen and (max-width: 767px) {
  #text {
    h1 {
      font-size: 7vw;
    }
  }
}
